In [3]:
import pandas as pd

In [4]:
user = pd.read_csv('dataset\\survey_complete_.csv')
question = pd.read_csv('dataset\\survey_item.csv')
title = pd.read_csv('dataset\\survey_main.csv')
result = pd.read_csv('dataset\\survey_result.csv')

# survey_complete_.csv (설문응답 유저데이터)

In [5]:
user

,idx,survey_idx,state,start_date,end_date,MB_IDX,MB_AGE,zipcode,job,favorite_idx
0,41,24,C,2020-09-03 17:28:21,2020-09-03 17:33:34,1353,1996,22230.0,대학생(대학원생 포함),송시우
1,46,24,C,2020-09-03 17:26:03,2020-09-03 17:29:55,102758,1988,21340.0,회사원(사무직/연구직),김도혁
2,49,24,C,2020-09-03 17:26:12,2020-09-03 17:28:56,107675,1974,10884.0,기타,김도혁
3,51,24,C,2020-09-03 17:58:37,2020-09-03 18:01:44,105239,1983,21602.0,회사원(사무직/연구직),김동민
4,56,24,C,2020-09-04 08:32:31,2020-09-04 08:47:29,116324,1973,21610.0,서비스업 종사자,송시우
...,...,...,...,...,...,...,...,...,...,...
5797,50990,134,C,2022-10-16 21:05:21,2022-10-16 21:06:16,105480,1981,8270.0,전업주부,무고사
5798,51016,134,C,2022-10-17 09:09:16,2022-10-17 09:12:30,151385,1975,22691.0,보건 및 의료종사자,이태희
5799,51019,134,C,2022-10-16 21:04:02,2022-10-16 21:05:21,144201,2007,21980.0,학생(초/중/고),송시우
5800,51031,134,C,2022-10-17 10:53:19,2022-10-17 10:54:50,67681,1982,6654.0,회사원(사무직/연구직),송시우
5801,51086,134,C,2022-10-16 21:04:15,2022-10-16 21:06:32,138255,1991,22117.0,대학생(대학원생 포함),오재석

idx / 설문번호
survey_idx / 설문지 유형
state / 단일특성(제거필요)
start_date, end_date / 설문시간
MB_IDX / 멤버십 고유번호
MB_AGE / 출생연도
zipcode / 거주지우편번호
job / 종사직종
favorite_idx / 좋아하는선수

In [6]:
user.isna().sum() # 설문응답 결측치는 지역번호와 직종에만 있음

idx               0
survey_idx        0
state             0
start_date        0
end_date          0
MB_IDX            0
MB_AGE            0
zipcode           9
job             390
favorite_idx      0
dtype: int64

In [7]:
len(user) # 응답완료된 설문이 총 5802개 있음

5802

In [8]:
len(user.idx.unique())

5738

In [9]:
user.idx.unique()

array([   41,    46,    49, ..., 51019, 51031, 51086], dtype=int64)

# 설문지별 설문문항

In [10]:
question.head()

,idx,survey_idx,order_seq,subject,item_type,item_text,item_number,required_yn
0,115,24,1,시즌권 구매 시기,C,2015년 #2016년 #2017년 #2018년 #2019년 #2020년,0.0,Y
1,116,24,2,시즌권 구매 총 매수,T,NaN,10.0,NaN
2,117,24,3,"시즌권 구매시 가장 중요한 점은?(가격, 기념품, 혜택, 충성심 등)",T,NaN,100.0,Y
3,118,24,4,"시즌권 구매시 가장 고려하지 않는 점은?(가격, 기념품, 혜택, 충성심 등)",T,NaN,100.0,Y
4,119,24,5,2020 시즌권 가격의 적정성,M,매우좋음 #좋음 #보통 #나쁨 #매우나쁨,0.0,Y

In [11]:
question.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1330 entries, 0 to 1329
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idx          1330 non-null   int64
 1   survey_idx   1330 non-null   int64
 2   order_seq    1330 non-null   int64
 3   subject      1330 non-null   object
 4   item_type    1330 non-null   object
 5   item_text    1054 non-null   object
 6   item_number  1317 non-null   float64
 7   required_yn  1163 non-null   object
dtypes: float64(1), int64(3), object(4)
memory usage: 83.2+ KB

In [12]:
question[question['survey_idx']==24] # 설문지 type 24의 설문문항

,idx,survey_idx,order_seq,subject,item_type,item_text,item_number,required_yn
0,115,24,1,시즌권 구매 시기,C,2015년 #2016년 #2017년 #2018년 #2019년 #2020년,0.0,Y
1,116,24,2,시즌권 구매 총 매수,T,NaN,10.0,NaN
2,117,24,3,"시즌권 구매시 가장 중요한 점은?(가격, 기념품, 혜택, 충성심 등)",T,NaN,100.0,Y
3,118,24,4,"시즌권 구매시 가장 고려하지 않는 점은?(가격, 기념품, 혜택, 충성심 등)",T,NaN,100.0,Y
4,119,24,5,2020 시즌권 가격의 적정성,M,매우좋음 #좋음 #보통 #나쁨 #매우나쁨,0.0,Y
5,120,24,6,2020 시즌권 구성의 만족도,M,매우좋음 #좋음 #보통 #나쁨 #매우나쁨,0.0,Y
6,121,24,7,2020 시즌권 환불의 적정성,M,매우좋음 #좋음 #보통 #나쁨 #매우나쁨,0.0,Y
7,122,24,8,2020 시즌권에서 만족하는 점(혹은 불만족하는 점)이 있다면?,T,NaN,100.0,NaN
8,123,24,9,2021 시즌권 구매 의사,M,매우있음 #있음 #보통 #없음 #매우없음,0.0,Y
9,124,24,10,2021 시즌권 구매 시 코로나19 확산세의 영향은?,M,매우많다 #많다 #보통 #적다 #매우적다,0.0,Y
10,125,24,11,2021 시즌권 구매 시 2020시즌 성적의 영향은?,M,매우많다 #많다 #보통 #적다 #매우적다,0.0,Y
11,126,24,12,예매횟수가 주어지는 시즌권을 도입하면 어떨까요?,M,매우좋음 #좋음 #보통 #나쁨 #매우나쁨,0.0,Y
12,127,24,13,2021시즌 시즌권을 판매하지 않고 티켓북(예매권북)을 판매한다면 구매하실 의향이 ...,M,매우좋음 #좋음 #보통 #나쁨 #매우나쁨,0.0,Y
13,128,24,14,2021 시즌권을 코로나19로 인하여 판매하지 않는다면 어떨까요?,M,매우좋음 #좋음 #보통 #나쁨 #매우나쁨,0.0,Y
14,129,24,15,"2021 시즌권 요청, 건의사항",T,NaN,300.0,NaN
15,130,24,16,현재 입장권 가격의 적정성,M,매우비쌈 #비쌈 #적정 #저렴 #매우저렴,0.0,Y
16,131,24,17,시즌권과는 별개로 멤버십 제도를 도입한다면 구매할 의향은? (예_ 멤버십 구매(5만...,M,매우있음 #있음 #보통 #없음 #매우없음,0.0,Y

In [13]:
question[question['item_type']=='N'] # item_type == N은 만족도평가

,idx,survey_idx,order_seq,subject,item_type,item_text,item_number,required_yn
37,152,26,4,(자차의 경우) 주차공간에 대해 만족하십니까?,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,NaN
38,153,26,5,금일 경기장 입장 게이트 운영에 대한 만족도 평가입니다.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
40,155,26,7,티켓 발권 및 예매에 대한 만족도 평가입니다.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
42,157,26,9,경기장의 경기 관람 환경에 대한 평가 부탁드립니다.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
56,171,27,6,금일 이용하신 특성화 좌석에 대한 만족도를 평가해주십시오.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
99,214,30,7,금일 이용하신 테이블 좌석에 대한 만족도를 평가해주십시오,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
115,231,33,6,금일 이용하신 특성화 좌석에 대한 만족도를 평가해주십시오,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
156,272,38,6,금일 이용하신 특성화 좌석에 대한 만족도를 평가해주십시오.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
252,398,51,6,금일 이용하신 특성화 좌석에 대한 만족도를 평가해주십시오.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
277,429,54,6,금일 이용하신 특성화 좌석에 대한 만족도를 평가해주십시오.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
369,553,65,6,금일 이용하신 특성화 좌석에 대한 만족도를 평가해주십시오.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y
409,593,68,6,금일 이용하신 특성화 좌석에 대한 만족도를 평가해주십시오.,N,매우 만족 #만족 #보통 #불만족 #매우 불만족,0.0,Y

idx / 설문문항 번호 (같은 설문지 번호를 갖는 문항들이 하나의 설문으로 제공됨)<br>
survey_idx / 설문지 번호<br>
order_seq / 설문지 문항순서(번호)<br>
subject / 설문문항 주제<br>
item_type / C:카테고리 / T:직접입력 / M:단어척도 / N:만족도평가 (M과 N이 다소 불분명하게 쓰이고 있음 // (ex) 2020 시즌권 구성의 만족도는 왜 M인가?)<br>
item_text / 설문지표 제시<br>
item_number / 최대 문자 수(로 추정됨)<br>
required_yn / 필수 설문문항 여부 / Y, NaN

# 설문지 타이틀 및 소개

In [14]:
title.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   idx          88 non-null     int64
 1   subject      88 non-null     object
 2   description  88 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.2+ KB

In [15]:
len(title.idx.unique()) # 88개의 설문지 타이틀

88

In [16]:
title.description.loc[0] # 설문지번호 24의 설문소개

'인천유나이티드를 응원해 주시기 위해 시즌권을 구매해주신 팬 여러분께 과거 판매된 시즌권의 만족도 조사와 더불어 2021년 시즌권 구성에 관한 의견을 구하고자 설문조사를 진행합니다.\r\n\r\n설문조사에 응해주신 10분을 추첨하여 좋아하는 선수의 친필 사인이 담긴 유니폼(1명), 사인볼(9명)을 경품으로 드립니다.'

In [26]:
title.description.loc[6]

'오늘 인천유나이티드 홈 경기를 찾아주셔서 감사합니다.\r\n\r\n저희 구단은 팬 여러분의 소중한 의견을 반영하기 위하여 매 경기 종료 후 설문조사를 진행중입니다. 또한, 테이블 좌석을 이용하신 분들을 대상으로 특별 설문조사를 진행하오니 솔직한 평가와 의견을 부탁드립니다. \r\n\r\n소중한 의견을 주신 5분을 선정하여 4/7(수) 수원삼성전 테이블석 10% 예매 할인권을 드립니다. 감사합니다.'

# 설문결과

In [18]:
result.head(5)

   idx  survey_target_idx  survey_item_idx  answer_index answer_content
0  110                525              115             2         2017년
1  111                525              115             5          2020년
2  112                525              116             0              2
3  113                525              117             0            충성심
4  114                525              118             0            기념품

In [19]:
question[question['idx']==115] # survey_item_idx==115인 설문조사의 아이템과 동일한것을 확인

,idx,survey_idx,order_seq,subject,item_type,item_text,item_number,required_yn
0,115,24,1,시즌권 구매 시기,C,2015년 #2016년 #2017년 #2018년 #2019년 #2020년,0.0,Y

In [20]:
result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94524 entries, 0 to 94523
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   idx                94524 non-null  int64
 1   survey_target_idx  94524 non-null  int64
 2   survey_item_idx    94524 non-null  int64
 3   answer_index       94524 non-null  int64
 4   answer_content     94510 non-null  object
dtypes: int64(4), object(1)
memory usage: 3.6+ MB

In [21]:
result[result.answer_content.str.len() > 10] # 정성데이터 가공필요

,idx,survey_target_idx,survey_item_idx,answer_index,answer_content
82,258,1718,129,0,목걸이 지갑에 시즌권을 카드로 넣어주세요
150,344,1220,129,0,인천이 꼭 잔류했으면 좋겠습니다.
198,392,418,117,0,"가격, 기념품, 혜택"
203,397,418,122,0,어린이 가격이 너무 오름
210,404,418,129,0,어린이 가격 다시 내려주세요
...,...,...,...,...,...
94506,104000,49584,1604,0,이번 시즌 멤버십 혜택에 매우 만족했습니다. 선예매는 말할 것도 없이 좋았고요 각종...
94507,104001,50071,1589,0,"구단 SNS(페이스북, 인스타그램 등)"
94508,104002,50071,1590,1,경기 시작 1시간 30분 전
94517,104011,50071,1598,1,진행요원/경호요원/자원봉사자 운영
94523,104017,50071,1604,0,전북이 FA컵 우승하고 꼭 ACL진출 했음 좋겠습니다